@page
@model PracticalAssignment.Pages.LinkSentModel
@{
}

<h2>Reset Password Email Sent</h2>
<p>If your email address is found in our system, we have sent a message to it with instructions to reset your password.</p>
<p>Please check your email and follow the instructions to reset your password.</p>