@page
@model PracticalAssignment.Pages.PasswordExpiredModel
@{
}


<h2>PasswordExpired</h2>

<p>Enter your email address to reset your password.</p>

<div asp-validation-summary="All" class="text-danger"></div>


<form method="post" asp-page-handler="OnPostAsync">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" name="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
</form>